body {
  width: 950px;
  margin: 0 auto;

}

main {
  margin: 20px auto;
  height: 450px;
  background: url(/src/images/nasa.bg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: lightgrey;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 75px;
  padding-top: 15px;
}

section {
  display: flex;
  height: 324px;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(224,222,222);
}
  
section {
  justify-content: space-evenly;
  font-family: 'Fredoka One', cursive; 
}
  
form {
  display: flex;
  flex-wrap: wrap;
}
input [type="message"] {
  border: 0;
padding: 0.625rem;
margin-top: 0.3125rem;
}
input[type="submit"] {
background-color: rgb(45, 45, 46);
color: white;
cursor: pointer;
border: 0;
padding: 0.625rem 0.9375rem;
margin-top: 0.3125rem;
}


