.calculator-flex {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .input {
    border: 1px solid red;
    height: 25%;
    width: 100%;
  }
  .inputBox {
    border: 1px solid blue;
    background-color: grey;
    width: 100%;
    height: 100%;
  }
  .button-content {
    border: 1px solid red;
    height: 75%;
    width: 100%;
  }
  .button-row {
    border: 1px solid blue;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-element {
    height: 100%;
    width: 25%;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  header {
    height: 100px;
    width: 100%;
    background-color:grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .nav ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
  }
  flex ^
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calculator grid</title>
    <link rel="stylesheet" href="./calc-grid.css">
  </head>
  <body>
    <div class="calculator-grid" >
      <div class="text-input"></div>
      <div class="calc-buttons">MC</div>
      <div class="calc-buttons">M+</div>
      <div class="calc-buttons">/</div>
      <div class="calc-buttons">X</div>
      <div class="calc-buttons">7</div>
      <div class="calc-buttons">8</div>
      <div class="calc-buttons">9</div>
      <div class="calc-buttons">4</div>
      <div class="calc-buttons">5</div>
      <div class="calc-buttons">6</div>
      <div class="calc-buttons">1</div>
      <div class="calc-buttons">2</div>
      <div class="calc-buttons">3</div>
      <div class="calc-buttons calc-buttons-equal">=</div>
      <div class="calc-buttons">0</div>
      <div class="calc-buttons">.</div>
      <div class="calc-buttons calc-buttons-minus">-</div>
      <div class="calc-buttons calc-buttons-plus">+</div>
    </div>
  </body>
  </html>
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
  }
  .calculator-grid {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25% repeat(5, 1fr);
  }
  .calculator-grid .text-input {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: rgb(212, 82, 82);
  }
  .calculator-grid .calc-buttons {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .calculator-grid .calc-buttons:nth-child(1){
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: green;
  }
  .calculator-grid .calc-buttons:nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: blue;
  }
  .calculator-grid .calc-buttons-equal {
    grid-column: 4/-1;
    grid-row: 5/-1;
    background-color: red;
  }
  .calculator-grid .calc-buttons-plus {
    grid-column: 4/-1;
    grid-row: 3/4;
    background-color: rgb(125, 135, 230);
  }
  .calculator-grid .calc-buttons-minus {
    grid-column: 4/-1;
    grid-row: 4/5;
    background-color: rgb(246, 126, 126);
  }